// /* Grid
// =============== */


.full-container {
    max-width: 100%;
    padding: 0 1rem;
}

.container,
.small-container,
.medium-container {
    max-width: 1200px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}

.small-container {
    max-width: 800px;
}

.medium-container {
    max-width: 1000px;
}

.content-section {
    padding: 20px;
}




.flex-small,
.flex-large {
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex-row {
    margin-left: -1rem;
    margin-right: -1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-small,
.flex-large {
    flex-basis: 100%;
    margin-bottom: 1rem;
}


// /* Small screen breakpoint */

@media (min-width: 600px) {
    .flex-small {
        flex: 1 1 0;
        margin-bottom: 0;
    }
}


/* Large screen breakpoint */

@media (min-width: 1000px) {
    .flex-large {
        flex: 1 1 0;
        margin-bottom: 0;
    }
}



