@import './base';


/******* Header comp ********/

.header-comp {
	h2 {
		margin: 15px 0;
	}

	#todolist {
		//maintain height when list empty
		height: 42px;
		line-height: 22px;
		h3 {
			padding: 10px 0;
			margin: 0;
		}
	}
	.def-values,
	.load-list {
		width: 49%;
		display: inline-block;
		text-align: center;
		span {
			&.center {
				font-size: .8em;
				max-width: 90%;
				display: block;
				text-align: center;
				margin: 0 auto;
			}
		}
	}
	.def-values {
		margin-right: 5px;
  }
  .wdt48 {
    width:48%;
  }
}

/******* Action comp ********/

.action-comp {
	.randomdo {
		margin: 0;
		text-align: center;
		padding: 20px 0;
	}
}

/******* Options comp ********/

.options-comp {
	&.ovflw {
		overflow: auto;
		height: auto;
	}
	h3 {
		margin: 10px 0;
	}
	.options {
		margin: 2em 0;
	}
}

/******* Option comp ********/

.option-comp {
	height: auto;
	.todo {
		line-height: 33px;
	}
}

/******* AddOption comp ********/

.addoption-comp {
	h3 {
		margin: 10px 0;
	}
	form {
		display: block;
		margin: 0 auto;
		width: 100%;
		.add-todo {
			padding: 10px 20px;
			width: 100%;
			font-size: 14px;
			margin: 15px 0;
		}
	}
}


@media (max-width:600px) {
  .container,.small-container {
    padding: 0;
  }

}

h4 {
  opacity: .8;
  font-size: 1.25rem;
}

h3 {
  font-size: 1.6rem;
  padding:0;
}

.black {
  background: black;
  padding: 10px;
  color: white;
  margin:0;
}
