/*
/## - options ->
*/

.options-sitter {
  margin:20px 0 40px;
  .remove-options {
    width: 200px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    background: #FFCA28;
  }
  .option-sitter {
    margin: 20px 0;
    .optionItm {
      text-align: center;
      padding:5px;
    }
  } //- option ->

} //options


/*
/## - add-option ->
*/
.add-option-sitter {
  margin: 20px 0;
  #todo-form {
    width: 45%;
    margin: 0 auto;
    input.add-todo {
      padding: 10px 20px;
    margin-left: 12px;
    }
    button {
      padding: 10px 20px;
      margin-left: 10px;
      cursor: pointer;
      background: #d27d00;
    }
  }

}


/*
/## - button ->
*/

.button-sitter {
  margin-top: 2em;
  display: block;
  h3 {margin-bottom: 1em; color:#333;}
  .question-wrap {
    width: 200px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    background: #FFCA28;
  }
  .question-wrap[disabled] {
    background: #e0e0e0;
    cursor: default;
  } //disabled
  hr.divider {
    margin:20px 0;
  }


} //sitter
